

/* styles.css */
:root {
  --primary-color: rgb(200, 29, 37);
  --background: rgb(42, 42, 42);
  --dark-gray: rgb(50, 50, 50);

  --spacing-sm: 4px;
  --spacing-md: 8px;
  --spacing-lg: 16px;
  --spacing-xl: 32px;

  --border-radius: 8px;
  --font-family: "Inter", sans-serif;
}